VITE_VIPPS_PAYMENT_URL="https://qr.vipps.no/vp/nCQjy9dcM"
VIPPS_CLIENT_ID_DONATIONS="019f8fa5-38c9-7434-834c-e124ef352ea4"
VIPPS_SECRET_KEY_DONATIONS="H3ZkccRrOXVY7TByIJ-vCg"
VIPPS_QR_URL="https://qr.vipps.no/vp/nCQjy9dcM"
